{% extends "commonbasepublic.html" %}
{% block content2 %}

{% if messages %}
   {% for msg in messages %}
       <script>
        alert('{{msg}}')
       </script>
    {% endfor %}
{% endif %}
<div class="inner-banner py-5">
	<section class="w3l-breadcrumb text-left py-sm-5 ">
		<div class="container">
			<div class="w3breadcrumb-gids">
				<div class="w3breadcrumb-left text-left">
					<h2 class="inner-w3-title">
						MY PROFILE</h2>
					
				</div>
				<div class="w3breadcrumb-right">
					<ul class="breadcrumbs-custom-path">
						<li><a href="index.html">Home</a></li>
						<li class="active"><span class="fas fa-angle-double-right mx-2"></span>My Profile</li>
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
					</ul>
				</div>
			</div>
			<section class="w3l-contact-2 py-5" id="contact">
				<div class="container py-lg-4 py-md-3 py-2">
					
			
					<div class="contact-grids d-grid mt-5 pt-lg-3">
			<div>
			<form action="https://sendmail.w3layouts.com/submitForm" method="post" class="">
				<div class="input-grids">
                   
					<input type="text" name="name" value="{{data.name}}" pattern="[a-zA-Z]+" class="contact-input" required="" style="width: 800px; margin-left: 150px;" />
                    <textarea class="contact-textarea contact-input" name="address" required="" style="width: 800px; margin-left: 150px;">{{data.address}}</textarea>
					<input type="text" name="phone" value="{{data.phone}}" maxlength="10" pattern="[06789][0123456789]{9}" class="contact-input" required="" style="width: 800px; margin-left: 150px;"/>
                    
				</div>
				<div style="margin-left: 820px;">
                    <a href="updateuserpro?id={{data.id}}">EDIT</a>
					<!-- <button class="btn btn-style btn-primary">EDIT</button> -->
				</div>
			</form>
		</div>
		</div>
	</section>
</div>


			
	</div>
</div>
</section>
		</div>
	</div>
	
</section>

{% endblock %}





